<div *mobxAutorun class="main-content">
    <div style='display:flex; justify-content:center'>
        <app-modal-add></app-modal-add>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 style='text-align: center' class="card-title ">List of Items</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)"
                                   *ngIf='isFetched; else spinner_custom'
                                   class="table">
                                <thead class=" text-primary">
                                    
                                    <th>
                                        ID
                                    </th>
                                    <th mat-sort-header="name">
                                        Name
                                    </th>
                                    <th mat-sort-header="date">
                                        Date (yyyy-mm-dd)
                                    </th>
                                    <th style="text-align: center">
                                        Actions
                                    </th>
                                
                                </thead>
                                <tbody *ngIf='!isSortingActive; else sort'>
                                    <tr *ngFor='let item of   this.mainService.itemsArray; let itemIndex = index '>
                                        <td>
                                            {{itemIndex + 1}}
                                        </td>
                                        <td>
                                            {{this.getStringAppearence ( item.name )}}
                                        </td>
                                        <td>
                                            {{ item.date && this.mainService.getDateFormatted ( item.date ) }}
                                        </td>
                                        <td>
                                            <div
                                                style='display: flex; justify-content: space-evenly; flex-direction: row'>
                                                <app-modal-add itemId='{{item.id}}'
                                                               forEditing='{{true}}'></app-modal-add>
                                                <app-modal-description itemId='{{item.id}}'></app-modal-description>
                                                <app-modal-delete itemId='{{item.id}}'></app-modal-delete>
                                            
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                
                                <ng-template #sort>
                                    <tbody *ngIf='isSortingActive'>
                                        <tr *ngFor='let item of   this.sorted_list let itemIndex = index '>
                                            <td>
                                                {{itemIndex + 1}}
                                            </td>
                                            <td>
                                                {{this.getStringAppearence ( item.name )}}
                                            </td>
                                            <td>
                                                {{ item.date && this.mainService.getDateFormatted ( item.date ) }}
                                            </td>
                                            <td>
                                                <div
                                                    style='display: flex; justify-content: space-evenly; flex-direction: row'>
                                                    <app-modal-add itemId='{{item.id}}'
                                                                   forEditing='{{true}}'></app-modal-add>
                                                    <app-modal-description itemId='{{item.id}}'></app-modal-description>
                                                    <app-modal-delete itemId='{{item.id}}'></app-modal-delete>
                                                
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-template>
                            </table>
                            
                            <ng-template #spinner_custom>
                                <div class='div_spinner'>
                                    <mat-spinner diameter='250'></mat-spinner>
                                </div>
                            
                            </ng-template>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


